body {
	background: #363533;
}

.login_div1,
.login_div2 {
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}


#player1_name,
#player2_name {
	display: inline-block;
	margin-left: 20px;
	color:white;
}

#output {
	background: white;
	border-left: 5px solid #d4574c;
	border-right: 5px solid #d4574c;
	border-top: 5px solid #d4574c;
	padding: 10px;
	float: none;
	text-align: center;
}

#firstone {
	background: white;
	border-left: 5px solid #d4574c;
	border-right: 5px solid #d4574c;
	border-top: 5px solid #d4574c;
	padding: 10px;
	float: none;
	text-align: center;
}

#firsttwo {
	background: white;
	border-left: 5px solid #d4574c;
	border-right: 5px solid #d4574c;
	border-bottom: 5px solid #d4574c;
	padding: 10px;
	float: none;
	text-align: center;
}

#secondone {
	background: white;
	border-left: 5px solid #d4574c;
	border-right: 5px solid #d4574c;
	border-top: 5px solid #d4574c;
	padding: 10px;
	float: none;
	text-align: center;
}

#secondtwo {
	background: white;
	border-left: 5px solid #d4574c;
	border-right: 5px solid #d4574c;
	border-bottom: 5px solid #d4574c;
	padding: 10px;
	float: none;
	text-align: center;
}

#player1_score,
#player2_score
{
	color:white;
}

#player_question,
#player_answer
{
	color:white;
}